@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>If you have any questions or feedback regarding the NRL Ladder site, please contact us using the information below:</p>

<h3>@ViewBag.Message</h3>

<address>
    NRL Ladder Site<br />
    Perth, WA 60000<br />
    <abbr title="Phone">P:</abbr>
    1800 NRL LADDER
</address>


<address>
    <strong>Email:</strong>   <a href="mailto:Support@nrlsiteexample.com">support@nrlsiteexample.com</a><br />
</address>